/* alignment */
.valign-wrapper {
    display: table;
    width: 100%;
    height: 1px;
    min-height: 100%;
    table-layout: fixed;
}
.valign-wrapper > * {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.block-centered {
    margin: 0 auto;
}
.text-center-sm {
    text-align: left;
}
.text-center-md {
    text-align: left;
}
.text-center-lg {
    text-align: left;
}
.text-center-xs {
    text-align: center;
}
.text-center img, .text-center-lg img, .text-center-md img, .text-center-sm img, .text-center-xs img {
	margin: 0 auto;
}

/* position */
.pos-rel {
	position: relative;
}

/* mask */
.has-mask {
    position: relative;
}
.has-mask > * {
    position: relative;
    z-index: 1;
}
.has-mask .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}