@media (min-width: 768px) {
	/* alignment */
	.text-center-xs {
	    text-align: left;
	}
	.text-center-md {
	    text-align: left;
	}
	.text-center-lg {
	    text-align: left;
	}
	.text-center-sm {
	    text-align: center;
	}
}