html {
    height: 100%;
}
body {
    padding: 0px 0px 0px 0px;
    /*padding-bottom: 135px;*/
    margin: 0px;
    color: #333333;
    position: relative;
    min-height: 100%;
    line-height: 1.5em;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body > iframe {
    display: none;
}
img, object, video {
    height: auto;
}
b, strong {
    /*font-family: 'robotoregular';*/
}
h1, h2, h3, h4, h5 {
    /*font-family: 'robotoregular';*/
}

/* bootstrap */
.container-fluid {
	max-width: 1200px;
}

/* link */
/*a {
    color: #010361;
}
a:focus, a:hover {
    color: #f4c406;
}*/

/* section */
.section > .inner {
    padding: 20px 0px;
}