{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="layout-container">

  <header role="banner">
    <div class="container-fluid">
      {{ page.header }}
    </div>
  </header>

  {# page.primary_menu #}
  {# page.secondary_menu #}

  {# page.breadcrumb #}

  {# page.highlighted #}

  {{ page.help }}

  {% set page_content_class = 'col-lg-12 col-md-12 col-sm-12 col-xs-12' %}
  {% set page_sidebar_first_class = 'col-lg-3 col-md-3 col-sm-12 col-xs-12' %}
  {% set page_sidebar_second_class = 'col-lg-3 col-md-3 col-sm-12 col-xs-12' %}
  {% if page.sidebar_second and page.sidebar_second %}
    {% set page_content_class = 'col-lg-6 col-md-6 col-sm-12 col-xs-12' %}
  {% elseif page.sidebar_first %}
    {% set page_content_class = 'col-lg-9 col-md-9 col-sm-12 col-xs-12' %}
  {% elseif page.sidebar_second %}
    {% set page_content_class = 'col-lg-9 col-md-9 col-sm-12 col-xs-12' %}
  {% endif %}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{#<!-- link is in html.html.twig -->#}

    {% if page.content_top %}
      <div class="layout-content-top">
        {{ page.content_top }}
      </div>
    {% endif %}

    <div class="layout-content">
      <div class="container-fluid">
        <div class="row">
          {% if page.sidebar_first %}
            <div class="layout-sidebar-first {{ page_sidebar_first_class }}">
              {{ page.sidebar_first }}
            </div>{#<!-- /.layout-sidebar-first -->#}
          {% endif %}
          <div class="layout-content {{ page_content_class }}">
            {{ page.content }}
          </div>{#<!-- /.layout-content -->#}
          {% if page.sidebar_second %}
            <div class="layout-sidebar-second {{ page_sidebar_second_class }}">
              {{ page.sidebar_second }}
            </div>{#<!-- /.layout-sidebar-second -->#}
          {% endif %}
        </div>
      </div>
    </div>

    {% if page.content_bottom %}
      <div class="layout-content-bottom">
        {{ page.content_bottom }}
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer>
      <div class="container-fluid">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
